.carousel-item{
    height: 400px;
}

.starImage{
    width: 20px;
    height: 20px;
}

.card{
    width: 500px;
    height: auto;
}

.App{
    max-width: auto;
}

.Home{
    background-image: url('./images/background.jpg');
}

.navbar{
    background-color: black;
}

.jumbotron{
    width: 90%;
}

.film{
    background-image: url("./images/background.jpg");
}